{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block body %}
    <div class="container container-custom-artists">
        Oops, la page que vous avez demandé n'existe pas !
    </div>
{% endblock %}
