{% extends '@WeCrea/layout/base_admin.html.twig' %}

{% block body %}
<div class="container ad_home">
    <div class="row">
        <div class="col m4 valign-wrapper link-box">
            <a class="center-align" href="{{ path('we_crea_admin_carrousel_edition') }}">Édition du Carrousel</a>
        </div>
        <div class="col m4 valign-wrapper link-box">
            <a class="center-align" href="{{ path('we_crea_admin_artist_list') }}">Édition des Artistes</a>
        </div>
        <div class="col m4 valign-wrapper link-box">
            <a class="center-align" href="{{ path('we_crea_admin_concept_edit') }}">Édition de la section concept</a>
        </div>
    </div>

    <div class="row">
        <div class="col m5 valign-wrapper link-box">
            <a class="center-align" href="{{ path('we_crea_admin_actu') }}">Édition des Actualités</a>
        </div>
        <div class="col m5 offset-m2 valign-wrapper link-box">
            <a class="center-align" href="#">Édition de la Newsletter</a>
        </div>
    </div>
</div>
{% endblock %}