<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <style type="text/css">
        #legal-mentions{
            text-align: justify;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <p id="message">{{ message.content|nl2br }}</p>
    <p id="legal-mentions">
        <b>WE-CREA SARL, au capital de 10 000 €, entreprise immatriculée au RCS de Sedan
           sous le numéro 799146493, dont le siège social est situé au 8, rue Basse, 08190 ST GERMAINMONT
        </b>
    </p>
</body>
</html>