@import url('https://fonts.googleapis.com/css?family=Pompiere');


/* BASE */
html,
body {
    font-family: 'Pompiere', cursive;
    font-size: 1.2em;
}

/* Overide Materialize Hover button */
.btn:hover, .btn-large:hover {
    background-color: transparent;
    box-shadow: none;
}

.container_custom {
    width: 99%;
    margin: 0;
    padding: 0;
}
.connect_button{
    width: 100%;
}
/* ADMIN */

#images-artist-confirmed img,
#images-work-confirmed img,
.existent-images img{
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

/* Artist list page */

.row-artist-work-custom{
    margin-top: 50px;
    background: #fdfdfd;
    padding: 10px;
}

.col-custom-artist{
    background: #fcfcfc;
    border: 1px solid #c8c8c8;
}

.col-custom-artist button{
    margin: 10px 0 20px 0;
}

.list-artists-img{
    width: 40%;
    display: block;
    margin: 0 auto;
}

#images-artist-check img,
#images-work-check img,
#add-image-work-check img{
    margin-top: 10px;
    width: 30%;
    display: block;
    margin: 0 auto;
}

#images-artist-check button,
#images-work-check button,
#add-image-work-check button,
.add-image-work-check-delete{
    display: block;
    margin: 0 auto;
}

.artist_menu{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    display: none;
}

/* First three -> forms */
#artist-picture,
#edit-work-caracteristics,
#specificity-work-confirmed,
#work-specificity,
#work-picture,
#work-confirmed,
#images-work-confirmed,
.add-work,
#edit-work-picture,
.end-work-creation,
.idWork,
.idProfile{
    display: none;
}

/* Artist biography & work description textarea fields*/
.biography,
.description{
    height: 200px;
}

.new-artist-image,
.new-work-image,
.new-work,
.row-custom-edit-work-image,
.existent-images{
    border: 1px solid #c8c8c8;
    min-height:200px;
}

.new-work-image img{
    width: 50%;
}

.row-custom-edit-artist-image img,
.row-custom-edit-work-image img {
    width: 50%;
}

/* partie fabien */

header {
    height: 95px;
}

.nav_custom_cont {
    box-sizing: unset;
}

.nav_custom {
    background-color: white;
}

nav {
    height: 80px;
    border-bottom: 15px solid transparent!important;
    border-image: url(../pics/Bandeau.png) 10 round!important;
    padding-bottom: 10px;
}

nav a {
    color: #313131!important;
}

nav ul li {
    height: 80px!important;
}

nav ul li a {
    padding-top: 25px;
    font-size: 1.1em!important;
    height: 55px!important;
}

nav ul li:nth-child(5){
    line-height: 100px;
    color: black;
}

.nav_custom ul{
    top: 108px;
}

nav ul a:hover {
    background-color: white!important;
    color: #313131!important;
    text-decoration: underline;
}

#profil_icon {
    margin-left: 40px;
}

#favs {
    margin-left: -10px;
}

.fav_icon,
.bask_icon {
    width: 24px;
}

@media screen and (max-width: 600px){
    .fav_icon,
    .bask_icon {
        float: left;
    }
}

.brand-logo img {
    height: 80px !important;
}

#sidenav-overlay {
    z-index: 996;
}

@media screen and (max-width: 600px) {
    .brand-logo img {
        height: 56px !important;
    }
}

/* ADMIN CARROUSEL*/

#formCarr {
    display: none;
}

.card {
    width:100%;
    height: 400px;
}

/* ADMIN ACTU */

#formActu {
    display: none;
}

/* ADMIN WORKS list */

.img_works {
    max-width: 100%;
    max-height: 150px;
}

/* ADMIN HOME */

.link-box {
    height: 250px;
    background-color: #ffffff;
    border: solid 2px #5a5a5a;

}

.link-box a {
    width: 100%;
    font-style: normal;
    color: #5a5a5a;
}

.link-box:hover {
    box-shadow: 0px 0px 4px #313131;
}

.ad_home {
    margin-top: 20px;
}

/* CLIENT LAYOUT */

.container_footer {
    display: none;
    position: absolute;
    bottom: 50px;
    min-width:100%;
    align-content: center;
    color: black!important;
    background-color: rgba(90, 90, 90, 0.7);
}

.container_footer a {
    color: black!important;
}

.footer-copyright {
    color: black!important;
}

#moreLink {
    color: black!important;
}

.logo_container {
    height: 100%!important;
}

.bar_footer {
    background-color: white!important;
    min-height: 50px;
    z-index: 100;
    border-top: 1px solid rgba(90, 90, 90, 0.7);
}

footer {
    z-index:100;
    padding-top: 0 !important;
    background: white!important;
    color: black!important;
}

.row_custom {
    margin-left: 0!important;
    margin-right: 0!important;
}

.row_top {
    margin-top: 20px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.slider {
    margin-top: 115px;
    height: calc(100% - 178px) !important;
}
.slider .indicators .indicator-item.active {
    background-color: #313131!important;

}

.slider .indicators .indicator-item {
    width: 11px;
    height: 11px;
    margin: 0 9px;
}

.indicators {
    bottom: 10px!important;
}

.caption_custom {
    text-shadow: -1px 0 #080808, 0 1px #080808, 1px 0 #080808, 0 -1px #080808;
    top: 75% !important;
    left: 5% !important;
    width: 40% !important;
}

@media (max-width: 600px) {
    .caption_custom{
        top: 7% !important;
        width: 95% !important;
    }
}

/* WORKS CLIENT */
.cards {
    width:100%;
    height: auto;
}

.card_custom {
    width: 20%;
    padding: 0 0.5%;
}

.card_custom_artists {
    width: 33.3333333333333%;
    padding: 0 0.5%;
}

.iso_button {
    background-color: transparent;
    color: #313131!important;
    box-shadow: none;
    border-radius: 0;
}

.nav_works{
    margin-top: 20px;
    padding-bottom: 3px;
    background-color: rgb(234, 235, 237);
}

.tous_btn {
    width: 100%;
    height: 40vh;
    background-color: white;
    border: none;
    box-shadow: none;
}

.iso_link button:active{
    background-color: white!important;
    color: black!important;
}

.active_button {
    background-color: #313131!important;
    color: white!important;
}

.card-title {
    display: block;
    position: relative;
}

.show_more {
    display: block;
    position: absolute;
    right: 3px;
    top: 5px;
    width: 24px;
    align-self: right;
}

@media (max-width: 600px) {
    .card_custom {
        width: 33%;
    }
}

@media (max-width: 450px) {
    .card_custom {
        width: 50%;
    }
}


.card-image_custom {
    position: relative;
    height: 70%;
    margin-top: 2%;
}

.card-content_custom {
    padding: 0!important;
}

.fav_btn,
.fav_btn_delete {
    display: none;
    position: absolute;
    right: 7px;
    top: 2px;
    cursor: pointer;
}
    .fav_btn button,
    .fav_btn_delete button {
        color: red;
        background-color: white;
        font-size: 0.65em;
        padding: 0 10px;
        height: 20px;
        line-height: 20px;
        text-transform: none;
    }

    .fav_btn button:hover {
        color: red!important;
        background-color: white!important;
    }

.fav_btn_delete button,
.fav_btn_delete button:hover {
    color: white;
    background-color: red;
}

@media (max-width: 500px) {
    .card-content_custom{
        font-size: 0.7em!important;
    }

    .card-content_custom .card-title{
        font-size: 19px!important;
    }
}

@media (max-width: 400px) {
    .card-content_custom .card-title {
        font-size: 18px!important;
        line-height: 19px!important;
    }
}

@media (max-width: 350px) {
    .card-content_custom .card-title {
        font-size: 15px!important;
        line-height: 17px!important;
    }
}

/* WORK CLIENT */
.images_content {
    margin-top: 50px;
    height: 60vh;
}

.images_content_show{
    height:60%;
}

.images_content_nav {
    height:30%;
}

.image_work {
    width: 100%;
    height:100%;
}

.item-nav {
    padding-top: 15px;
    width: 100px;
    height: 100px;
}

.item-nav:focus {
    outline: none;
}

.image_work img{
    max-width: 100%;
    height: calc(60vh * 60 /100);
    margin: 0 auto;
}

.item-nav img {
    max-width:100px;
    max-height: 100px;
    margin: auto;
}

/* Artist list pages */

.container-custom-artists,
.container-custom-search{
    margin-top: 75px;
}

/* Artist page */

.artist-img{
    display: block;
    margin: 0 auto;
    width: 70%;
    padding: 10px;
    border: 1px solid #c8c8c8;
}

@media all and (max-width: 992px){
    .artist-img{
        width: 100%;
    }
}

.artist-img img{
    width: 100%;
    padding: 0;
    margin: 0;
}

.col-description-artist{
    background: #fafafa;
    margin: 10px 0 10px 0;
}

/* ----- Basket ----- */
.prod_img {
    width: 140px!important;
    float: left;
    padding-right: 20px;
}

.prod_content {
    width: 30px!important;
    border-bottom: none!important;
}

/* ----- Concept page ----- */

#concept h2 {
    text-align: center;
}

#concept img {
    margin-right: 5%;
}

.concept_pic {
    float: left;
    width: 25%;
}

/********** ACTU PAGE ***********/

.actu-user{
    width: 70%;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #c8c8c8;
    margin-bottom: 15px;
}

#title-actu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0088CC;
    height: 80px;
}

.actu-user img{
    width: 100%;
}

.actu-user .content{
    margin-bottom: 20px;
}

.actu-user i{
    background: #eee;
    display: block;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

@media all and (max-width: 1024px){
    .actu-user {
        width: 80%;
    }
}

@media all and (max-width: 768px){
    .actu-user {
        width: 100%;
    }
}


/* ----- Profil Page ----- */
#formUser {
    display: none;
}

/* Search Bar */

form[name='search']{
    position: relative;
    bottom: 0;
}

form[name='search'] i{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

form[name='search'] input{
    height: 30px;
}

form[name="search"] input[type='search']{
    width: 15vw;
}

.button-search{
    background: transparent;
    border: none;
}

nav ul li .suggest {
    color: #fff;
    position: absolute;
    top: 70px;
    width: 15vw;
    text-align: left;
    height: auto;
    box-shadow: 0 0 5px #a8a8a8;
}

@media all and (max-width: 1024px){
    form[name='search'] input[type='search']{
        width: 70%;
    }

    .suggest{
        width: 70%;
    }
}

@media all and (max-width: 640px){
    form[name='search']{
        width: 90%;
    }
}

form[name='search'] input[type="submit"] {
    background: #1e90ff;
    color: #fff;
    outline: none;
    border: none;
}

.title_list_profil{
    text-decoration: underline;
}