imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: "@WeCreaBundle/Resources/config/services.yml" }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: fr
    image_directory: '%kernel.root_dir%/../web/images'
    merchant_site_id: '%merchantsite_id%'
    certif_test: '%certiftest%'
    pdf: '%kernel.root_dir%/../web/pdf'
    http_protocol: http

framework:
    #esi: ~
    translator: { fallbacks: ['%locale%'] }
    secret: '%secret%'
    router:
        resource: '%kernel.root_dir%/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation: { enable_annotations: true }
    #serializer: { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale: '%locale%'
    trusted_hosts: ~
    trusted_proxies: ~
    session:
        # http://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id:  session.handler.native_file
        save_path:   "%kernel.root_dir%/../var/sessions/%kernel.environment%"
    fragments: ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true

# Twig Configuration
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'

# Doctrine Configuration
doctrine:
    dbal:
        driver: pdo_mysql
        host: '%database_host%'
        port: '%database_port%'
        dbname: '%database_name%'
        user: '%database_user%'
        password: '%database_password%'
        charset: UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/../var/data/data.sqlite"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #path: '%database_path%'

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        dql:
            string_functions:
                regexp: DoctrineExtensions\Query\Mysql\Regexp

# Swiftmailer Configuration
swiftmailer:
    transport: '%mailer_transport%'
    host: '%mailer_host%'
    port: '%mailer_port%'
    auth_mode: '%mailer_auth_mode%'
    username: '%mailer_user%'
    password: '%mailer_password%'
    spool: { type: memory }

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: WeCreaBundle\Entity\User
    registration:
        form:
            type: WeCreaBundle\Form\RegistrationFormType
    from_email:
        address: contact@lesartistesdabord.fr
        sender_name: contact@lesartistesdabord.fr

ivory_ck_editor:
    configs:
        my_config:
            toolbar: [ [ 'Bold','Italic','Underline','Strike', 'Blockquote','Subscript','Superscript' ], [ 'NumberedList','-','Outdent','Indent','-','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock' ], [ 'Link','Unlink' ], ['Styles', 'Format', 'Font', 'FontSize', 'TextColor', 'BGColor'] ]
            language: %locale%

liip_imagine:
    resolvers:
        default:
            web_path:
                web_root: "%kernel.root_dir%/../web/"
                cache_prefix: media/cache
    loaders:
        default:
            filesystem:
                data_root: "%kernel.root_dir%/../web/images/"
    filter_sets:
        cache: ~
        # the name of the "filter set"

        xLarge:
            # adjust the image quality to 75%
            quality: 100
            # list of transformations to apply (the "filters")
            filters:
                 relative_resize: { widen: 1000 }
        large:
            # adjust the image quality to 75%
            quality: 30
            # list of transformations to apply (the "filters")
            filters:
                 relative_resize: { widen: 500 }
        small:
            # adjust the image quality to 75%
            quality: 100
            # list of transformations to apply (the "filters")
            filters:
                 relative_resize: { widen: 400 }
        thumb:
            # adjust the image quality to 75%
            quality: 100
            # list of transformations to apply (the "filters")
            filters:
                 relative_resize: { widen: 105 }

knp_snappy:
    pdf:
        enabled:    true
        binary:     /usr/local/bin/wkhtmltopdf

    image:
        enabled:    true
        binary:     /usr/local/bin/wkhtmltoimage
        options:    []