# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    app.basket:
        class:     WeCreaBundle\Service\Basket
        arguments: []

    favs:
        class: WeCreaBundle\Service\Favs
        arguments: []