{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <h1 class="center-align">Modifier mon mot de pass</h1>
        <div class="col m6 offset-m3 s12">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div class="input-field row">
                    <button class="btn waves-effect waves-light black connect_button" id="_submit" type="submit" name="_submit">
                        {{ 'change_password.submit'|trans }}
                        <i class="material-icons left">send</i>
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
