{% extends 'WeCreaBundle:layout:base_admin.html.twig' %}

{% block body %}
    <div class="container container-custom-artists">
        <div class="row">
            <p style="height: 100px; background: black; line-height: 100px; color: #fff; text-align: center;">{{ message }}</p>
        </div>
    </div>
{% endblock %}