{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block body %}
    <style>
        .grid-item,
        .grid-sizer{
            width: 300px;
            /*padding: 5px;*/
        }
        .grid{
            margin: 30px auto;
        }
        .imageWorks{
            opacity: 1;
        }
        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            text-align: center;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%)
        }

        .grid-item:hover .imageWorks {
            opacity: 0.3;
        }

        .grid-item:hover .middle {
            opacity: 1;
        }

        .grid-item:hover .fav_btn,
        .grid-item:hover .fav_btn_delete {
            display: block;
        }
    </style>
    <main>
        {% include '@WeCrea/User/works_includes/worksView.html.twig' %}
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/wecrea/vendor/masonry.pkgd.min.js') }}"></script>

    <script>

        $(document).ready( function () {

            $('.grid').masonry({
                // options
                fitWidth: true,
                columnWidth: 300,
                gutter: 10
            });

//            Add works to fav
            $('.fav_btn').on('click', function (e) {
                e.preventDefault();
                var data = {'idWork': $(this).attr('data')};
                var btn = $(this);
                console.log(data);
                $.ajax({
                    method: 'post',
                    url: '{{ path('we_crea_add_fav') }}',
                    data: data,

                    success: function (response) {
                        if (response.status === true) {
                            Materialize.toast('<span class="toast_custom">' + response.name + ' a été ajouté(e) à vos favoris</span>', 4000) // 4000 is the duration of the toast
                        }
                        else if (response.status === false) {
                            Materialize.toast('<span class="toast_custom">' + response.name + ' est déja présente dans vos favoris</span>', 4000) // 4000 is the duration of the toast
                        }

                        $('.fCount').text(response.fCount);

//                        TODO: Si besoin de supprimer un favoris depuis la liste de toutes les oeuvres, décommenter les lignes ci dessous
                        btn.find('button').text('Retirer des favoris');
                        btn.removeClass('fav_btn');
                        btn.addClass('fav_btn_delete');
//                        deleteFav();
                    }
                })
            });

//          TODO: Si besoin de supprimer un favoris depuis la liste de toutes les oeuvres, décommenter les lignes ci dessous

            {#function deleteFav() {#}
                {#$('.fav_btn_delete').on('click', function (e) {#}

                    {#e.preventDefault();#}

                    {#var data = {'idWork': $(this).attr('data')};#}
                    {#var btn = $(this);#}
                    {#$.ajax({#}
                        {#method: 'post',#}
                        {#url: '{{ path('we_crea_delete_fav') }}',#}
                        {#data: data,#}

                        {#success: function (response) {#}
                            {#Materialize.toast('<span class="toast_custom">' + response.name + ' a été retiré(e) de vos favoris</span>', 4000) // 4000 is the duration of the toast#}
                            {#$('.fCount').text(response.fCount);#}
                            {#btn.find('button').text('Ajouter aux favoris');#}
                            {#btn.removeClass('fav_btn_delete');#}
                            {#btn.addClass('fav_btn');#}
                            {#addFav();#}
                        {#}#}
                    {#});#}
                {#});#}
            {#}#}
        });
    </script>
{% endblock %}