{% extends "@WeCrea/layout/base_client.html.twig" %}

{% block fos_user_content %}
    <main class="valign-wrapper">
        {{ include('@FOSUser/Security/login_content.html.twig') }}
    </main>
{% endblock fos_user_content %}
