<div class="buttons filters-button-group nav_works nav_works_custom">
    <button class="waves-effect waves-light btn iso_button iso_link active_button" data-filter=".Tous">Tous</button>
    <button class="waves-effect waves-light iso_button iso_link btn " data-filter=".Peinture">Peinture</button>
    <button class="waves-effect waves-light iso_button iso_link btn" data-filter=".Sculpture">Sculpture</button>
    <button class="waves-effect waves-light iso_button iso_link btn " data-filter=".Dessin">Dessin</button>
    <button class="waves-effect waves-light iso_button iso_link btn " data-filter=".Photographie">Photographie</button>
    <button class="waves-effect waves-light iso_button iso_link btn" data-filter=".Artisanat_dart">Artisanat d'art</button>
    <button class="waves-effect waves-light iso_button iso_link btn" data-filter=".Curiosite">Curiosité</button>
</div>