{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block body %}
<main>
    <div class="row">
        <div class="col s12">
            <p>Status commande : {{ status }}</p>
        </div>
    </div>
</main>
{% endblock %}