WeCreaBundle\Entity\User:
    type:  entity
    table: fos_user
    id:
        id:
            type: integer
            generator:
                strategy: AUTO

    fields:
        address1:
            type: string
            length: 255
            nullable: true

        zipCode1:
            type: string
            length: 5
            nullable: true

        town1:
            type: string
            length: 255
            nullable: true

        country1:
            type: string
            length: 255
            nullable: true

        address2:
            type: string
            length: 255
            nullable: true

        zipCode2:
            type: string
            length: 5
            nullable: true

        town2:
            type: string
            length: 255
            nullable: true

        country2:
            type: string
            length: 255
            nullable: true

        name:
            type: string
            length: 255

        firstname:
            type: string
            length: 255

    manyToMany:
        commands:
            targetEntity: WeCreaBundle\Entity\Command